:root {
  --font-size-xl: 3rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.6rem;
}

@font-face {
  font-family: inter;
  src: url("/assets/fonts/inter.ttf");
}

body {
  min-height: 100dvh;
  background-color: #000000;
  font-family: inter;
  color: #d4d4d8;
  position: relative;
  margin: 0;
}

#bg-img-one {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.1;
}

h1 {
  font-size: var(--font-size-xl);
}

.main-container {
  margin: 0 15%;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title img {
  max-width: 1.5rem;
}
/*-------------------------MAIN CONTENT-------------------------*/
/* may want to consider fixing the size of the boxes  */
.main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divider {
  margin: 2rem 0;
  width: 100%;
}

/*-----------ITEM CATEGORY SECTION-----------*/
#category-slider {
  border: 1px #27272a solid;
  background-color: #18181b;
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  padding: 1rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #52525b #18181b;
}

#category-slider a {
  all: unset;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

:hover.item {
  cursor: pointer;
  background-color: #09090b;
  border-radius: 1rem;
  transition: all 250ms ease-in-out;
}

.item img {
  max-width: 2rem;
  max-height: 2rem;
}

.item-title {
  font-weight: bold;
  margin: 0.25rem 0;
}

.item-count {
  font-size: var(--font-size-xs);
  color: #71717a;
  margin: 0;
}

/*-----------ABOUT THE GAME SECTION-----------*/
.about-title {
  font-size: var(--font-size-lg);
  margin-top: 0;
}

.about-item {
  display: flex;
  gap: 2rem;
  margin-bottom: 5rem;
}

.about-item video {
  margin-top: 3rem;
  min-width: 20rem;
}

.about-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-item-text h2 {
  font-size: var(--font-size-md);
  background-color: #b49359;
  border-radius: 0.3rem;
  padding: 0.5rem;
}
/*-----------SHOWCASE SECTION-----------*/
.showcase {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 3rem 0;
}

.showcase-title {
  font-size: var(--font-size-lg);
  color: #ceb07c;
}

.showcase img {
  max-width: 120px;
  margin: 1rem 0;
}
/*-----------WORLD SHOWCASE (images) SECTION-----------*/
.world-showcase {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.world-showcase img {
  max-width: 33%;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.world-showcase img:hover {
  transform: scale(1.3);
}

@media (max-width: 767px) {
  h1 {
    font-size: var(--font-size-lg);
  }

  .about-title {
    text-align: center;
    margin: 0;
  }
  .about-item {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .about-item-text {
    order: 1;
  }
  .about-item video {
    order: 0;
    min-width: 15rem;
    margin-top: 1.5rem;
  }
  .showcase {
    margin: 0;
  }
}
