:root {
  --font-size-xl: 3rem;
  --font-size-lg: 2rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.6rem;
}

@font-face {
  font-family: inter;
  src: url("/assets/fonts/inter.ttf");
}

body {
  min-height: 100dvh;
  background-color: #000000;
  font-family: inter;
  color: #d4d4d8;
  position: relative;
  margin: 0;
}

#bg-img-one {
  position: absolute;
  z-index: -1;
  width: 100%;
  opacity: 0.4;
}

.main-container {
  display: flex;
  gap: 1rem;
  padding: 3rem;
}

/*-----------NAVBAR SECTION-----------*/
nav {
  display: flex;
  flex-direction: column;
  background-color: #18181b;
  border-radius: 0.5rem;
  height: 80dvh;
  padding: 1rem;
  gap: 0.7rem;
  position: sticky;
  top: 2rem;
}

.nav-category {
  display: flex;
  flex-direction: column;
}

.nav-category-label {
  background-color: #27272a;
  width: 15rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav-category-label div {
  display: flex;
  gap: 0.5rem;
}

.nav-category img {
  max-width: 20px;
  max-height: 20px;
}

.nav-category-label p {
  margin: 0;
}
/* rotates the icon  */
.rotate {
  rotate: 180deg;
}

.sub-menu {
  display: none;
}
.sub-menu.show {
  display: block;
}
.sub-menu li {
  margin: 0.5rem 0;
}

/*-----------MAIN CONTENT SECTION-----------*/
.main-content {
  background-color: #18181b;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.item-card {
  width: 100%;
  background-color: #27272a;
}

.search-bar {
  background-color: #27272a;
  border-radius: 0.5rem;
  display: grid;
  align-items: center;
  padding: 0.5rem 0;
  grid-template-columns: 15% 85%;
}

.search-bar input {
  background-color: #27272a;
  border: 0;
}
